/* 스타일 시트 */

/* 전체적인 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

/* 동접자 수 표시 박스 스타일 */
#client-count-box {
    position: fixed;
    top: 2vh;
    right: 2vw;
    padding: 1vh 2vw;
    background-color: #fff;
    color: #333;
    border: 0.2vw solid #ccc;
    border-radius: 1vw;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.1);
    font-size: 2vw;
    font-weight: bold;
    z-index: 1000;
}

/* 캔버스 스타일 */
#canvas {
    border: 1px solid black;
    image-rendering: pixelated;
    width: 800px;
    height: 800px;
}
